#Container{
    margin: auto;
    height: 360px;
    width: 500px;
    border: 1px solid black;
}
#input{
    width: 98.90%;
    height: 50px;
    font-size: 25px;
}
#container1{
    
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
   
}
.button{
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 25px;
  text-align: center;
}
.button1{
  grid-column: 1 /3;
}